:root {
  --purple: #3e0249;
}
body {
  margin: 0;
  padding: 0;
  color: var(--purple);
  font-family: sans-serif;
  background-color: rgb(158, 88, 88);
  background-image: url();
}
* {
  box-sizing: border-box;
}
h1 {
  /* font-size: 54px; */
  text-transform: uppercase;
}
.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#gameboard {
  width: 450px;
  display: grid;
  /* flex-wrap: wrap; */
  /* grid-row: 3;
  grid-column: 3; */
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;

  margin-top: 40px;
}

.box {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--purple);
  background-color: rgb(11, 186, 245);
  font-size: 150px;
  border: 3px solid rgb(158, 88, 88);
  margin: 2px;
  cursor: pointer;
}
.box:hover {
  box-shadow: 0 0 10px #3e0249;
  transition: all 0.2s ease-in;
}
.box:active {
  box-shadow: 0 0 5px #3e0249;
  transform: scale(0.9);
}
button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--purple);
  color: white;
  border-color: var(--purple);
  font-size: 18px;
  transition: 200ms transform;
}
button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}

@media (max-width: 500px) {
  #gameboard {
    width: 100vw;
  }
  .box {
    width: 33.33vw;
    height: 33.33vw;
  }
}
p {
  margin: 0 60px;
  font-weight: bold;
  font-size: 2em;
}
#playerOne {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  white-space: nowrap;
}
#playerTwo {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  white-space: nowrap;
}
.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  font-weight: bold;
  font-size: 1.5em;
}
.kos {
  color: white;
}
